/.devpanel/dumps/
/.easy_encryption/
/.editorconfig
/.gitattributes
/.vscode/
/AGENTS*
/assets/
/composer.json
/composer.lock
/config/
/CONTRIBUTING*
/LICENSE*
/logs/*
!/logs/.gitkeep
/packages.json
/patches.lock.json
/private/
/README*
/recipes/
/vendor/
/web/
