/.devpanel/dumps/
/.easy_encryption/
/.editorconfig
/.gitattributes
/.vscode/
/assets/
/composer.json
/composer.lock
/config/
/CONTRIBUTING.md
/LICENSE.txt
/logs/
/packages.json
/patches.lock.json
/private/
/README.md
/recipes/
/vendor/
/web/
